@model IEnumerable<EGGY_TCC_IDENTITY.ViewModels.ImagemViewModel>

@{
    ViewData["Title"] = "Pagina";
}

<h1>Imagens</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arquivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                <img style="max-width:100px; max-height:100px;" src="@item.imagemString" alt="@item.Titulo" />
            </td>
            <td>
                @if (User.IsInRole("Master") || User.IsInRole("Avançado"))
                {
                    <a asp-action="Delete" asp-route-id="@item.ID_Imagem" class="btn btn-danger">Excluir</a>
                }
                <a asp-action="Details" asp-route-id="@item.ID_Imagem" class="btn btn-info">Visualizar</a>
            </td>
        </tr>
}
    </tbody>
</table>
