@model IEnumerable<EGGY_TCC_IDENTITY.ViewModels.NoticiaViewModel>

@{
    ViewData["Title"] = "Noticias";
}
<h1>Noticias</h1>

@if (User.IsInRole("Master") || User.IsInRole("Avançado"))
{
    <a asp-action="Create" asp-controller="Noticias" class="btn btn-primary">Cadastrar notícia</a>
}

<section class="noticia-item">
    @foreach (var item in Model)
    {
        <div>
            @if (item != null)
            {
                <img class="img-noticia" src="@item.Imagem.imagemString" alt="@item.Titulo.ToString()" />
                <p class="col-sm-6" style="text-align: justify;">
                    @if (@item.Conteudo.Length > 250)
                    {
                        @item.Conteudo.Substring(0, 250);
                    }
                    else
                    {
                        @item.Conteudo;
                    }
                </p>
                @if (User.IsInRole("Master") || User.IsInRole("Avançado"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ID_Noticia" class="btn btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ID_Noticia" class="btn btn-info">Visualizar</a>
                    <a asp-action="Delete" asp-route-id="@item.ID_Noticia" class="btn btn-danger">Excluir</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.ID_Noticia" class="btn btn-info">Visualizar</a>
                }
            }
        </div>
        <div style="width: 1px;">
        </div>
    }
</section>
