@model IEnumerable<EGGY_TCC_IDENTITY.ViewModels.NoticiaViewModel>

@{
    ViewData["Title"] = "Noticias";
}

<h1>Noticias</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conteudo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPostagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num_Curtidas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conteudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPostagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ong.DE_NOME_FANTASIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num_Curtidas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Noticia">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Noticia">Visualizar</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Noticia">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
