@model IEnumerable<EGGY_TCC_IDENTITY.ViewModels.OngViewModel>

@{
    ViewData["Title"] = "Gerenciamento de ONGs";
}

<h1>ONG's</h1>

<table class="table">
    <thead class="container">
        <tr class="row">
            <th class="col-sm-3">
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th class="col-sm-4">
                @Html.DisplayNameFor(model => model.Representante)
            </th>
            <th class="col-sm"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr class="row">
            <td class="col-sm-3">
                @Html.DisplayFor(modelItem => item.NomeFantasia)
            </td>
            <td class="col-sm-2">
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(modelItem => item.Representante)
            </td>
            <td class="col-sm">
                @if (User.IsInRole("Master"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ID_Ong" class="btn btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ID_Ong" class="btn btn-info">Visualizar</a>
                    <a asp-action="Delete" asp-route-id="@item.ID_Ong" class="btn btn-danger">Excluir</a>
                }
                else if (User.IsInRole("Avançado"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ID_Ong" class="btn btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ID_Ong" class="btn btn-info">Visualizar</a>
                }
                else
                {
                <a asp-action="Details" asp-route-id="@item.ID_Ong" class="btn btn-info">Visualizar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
