@model IEnumerable<EGGY_TCC_IDENTITY.ViewModels.HomeViewModel>

@{
    ViewData["Title"] = "Home Page";
    ViewData["Mensagem"] = ViewData["Mensagem"];
}

<section class="home-destaques">


    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style="max-height: 400px; height: auto">
            <div class="carousel-item active" style="max-height: 100%">
                @if (Model.ElementAtOrDefault(0) != null)
                {
                    <img class="d-block w-100 img-carousel" src="@Model.ElementAt(0).ImagemNoticia.imagemString" alt="@Model.ElementAt(0).Titulo.ToString()" />
                }
                else
                {
                    <img class="d-block w-100 img-carousel" src="~/Imagens/noticia.png" alt="Noticia" />
                }
            </div>
            <div class="carousel-item">
                @if (Model.ElementAtOrDefault(1) != null)
                {
                    <img class="d-block w-100 img-carousel"  src="@Model.ElementAt(1).ImagemNoticia.imagemString" alt="@Model.ElementAt(1).Titulo.ToString()" />
                }
                else
                {
                    <img class="d-block w-100 img-carousel" src="~/Imagens/noticia.png" alt="Noticia" />
                }
            </div>
            <div class="carousel-item">
                @if (Model.ElementAtOrDefault(2) != null)
                {
                    <img class="d-block w-100 img-carousel" src="@Model.ElementAt(2).ImagemNoticia.imagemString" alt="@Model.ElementAt(2).Titulo.ToString()" />
                }
                else
                {
                    <img class="d-block w-100 img-carousel" src="~/Imagens/noticia.png" alt="Noticia" />
                }
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only-focusable" style="font: bold 20px arial; color: black;">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="sr-only-focusable" style="font: bold 20px arial; color: black;">Próximo</span>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>



    <section class="py-5 home-item">

        <div class="container home-item2">
            <div class="row">
                <div class="home-item3">
                    <div class="card-body">
                        @if (Model.ElementAtOrDefault(3) != null)
                        {
                            <img class="card-img-top img-destaques" src="@Model.ElementAt(3).ImagemNoticia.imagemString" alt="@Model.ElementAt(3).Titulo.ToString()" />
                        }
                        else
                        {
                            <img class="card-img-top img-destaques" src="~/Imagens/noticia.png" alt="Noticia" />
                        }
                    </div>

                    <div class="card-body">
                        @if (Model.ElementAtOrDefault(4) != null)
                        {
                            <img class="card-img-top img-destaques" src="@Model.ElementAt(4).ImagemNoticia.imagemString" alt="@Model.ElementAt(4).Titulo.ToString()" />
                        }
                        else
                        {
                            <img class="card-img-top img-destaques" src="~/Imagens/noticia.png" alt="Noticia" />
                        }
                    </div>

                    <div class="card-body">
                        @if (Model.ElementAtOrDefault(5) != null)
                        {
                            <img class="img-destaques" src="@Model.ElementAt(5).ImagemNoticia.imagemString" alt="@Model.ElementAt(5).Titulo.ToString()" />
                        }
                        else
                        {
                            <img class="img-destaques" src="~/Imagens/noticia.png" alt="Noticia" />
                        }
                    </div>

                    <div class="card-body">
                        @if (Model.ElementAtOrDefault(6) != null)
                        {
                            <img class="img-destaques" src="@Model.ElementAt(6).ImagemNoticia.imagemString" alt="@Model.ElementAt(6).Titulo.ToString()" />
                        }
                        else
                        {
                            <img class="img-destaques" src="~/Imagens/noticia.png" alt="Noticia" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>







    <section class="py-5 home-item2">
        <div>
           
        </div>
        <div>
           
        </div>
        <div>
        </div>

    </section>

</section>